mat-toolbar{
    width: auto; 
    height: max-content;
    background-color: #966B9D;
    padding: 20pt;
    color: #FFF4EC;
}

#CadastroHTML{
    padding: 5%;
}
mat-form-field{
    padding: 1%;
}
#menuUser{
    margin-left: 80%;
}